{block content}
<div class="posts">
    <a n:foreach="$posts as $post" class="nostyle" n:href="Post:show $post->id">
        <section class="post" >
            
            <div class="post-header">
                    <p>u/{$usernames->get($post->author_id)->username} {$post->created_at|date:'F j, Y'}</p>
                    <h2>{$post->title}</h2>
            </div>
            
        </section>
    </a>
</div>

{/block}


